*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 150vh;
}
#preloader{
  background: rgb(102 206 255) url(./public/cool-loading-animated-gif-1.gif) no-repeat center center;
  background-size: 55%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
nav{
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./public/mink-mingle-HRyjETL87Gg-unsplash.jpg");
  background-size: cover;
  background-position-y:14%;
  opacity:0.92;
  z-index:10;
}
.navbar-brand{
  margin-left: 10px;
  font-family:monospace;
}
.navbar-nav{
  margin-left: 6%;
}
.navbar-nav li{
  margin-right: 49px;
}
.form-inline{
  transform: scale(0.9);
  margin-right: -2.2%;
}
.dropdown-menu{
  margin-top:6.4%;
}
header{
  position: relative;
  width: 100%;
  height: 150vh;
  background: url("./public/pexels-pixabay-33597.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  clip-path: circle(190vh at 50% -80vh);
}
.content{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.content span{
  color:white;
  text-transform: uppercase;
  display: block;
}
.text1{
  font-size: 100px;
  font-weight: 700;
  letter-spacing:8px;
  position:relative;
  animation: text 3s 1;
}
.text2{
  font-size:27px;
}
.container-fluid{
background: url("./public/pexels-moose-photos-1037992.jpg");
background-size: cover;
background-position:top;
height: 120vh;
margin-top:-39%;
display:flex;
justify-content:center;
background-attachment:fixed;
}
.cat{
  border-radius:50%;
  z-index: 4;
  height:200px;
  width:200px;
  position:absolute;
  top:100%;
  overflow: hidden;
}
#kitten{
height:50px;
width:70px;
transform:scale(7.7);
margin-top:40%;
}
.kitten-m{
  transform:scale(0.65);
  margin-left:-42%;
  margin-top:-40%;
  height:100px !important;
  width:150px !important;
  transform:scale(3.9) !important;
  margin-top:23% !important;
  margin-left:1% !important;
}
.left h1{
  font-size: 75px;
  color: #fff;
  line-height: 110px;
  margin-left:-65%;
  margin-top:60%;
}
.right{
  float: right;
  position:absolute;
  top:148%;
  right:3%;
  display: flex;
  align-items: center;
}
.right p{
  font-size: 20px;
  color: #5f5f5f;
  font-weight: 500;
  margin-right: 15px;
}
#icon{
  width: 110px;
  cursor: pointer;
}
.card-section{
  padding-top:5vh;
  font-size:47px;
  padding-bottom:3vh;
}
.box{
  padding-top:3vh;
}
.heart{
  margin-top:-5%
}
.card-footer{
  font-size:18px;
}
.contact-heading{
  padding-top:5.2vh;
}
.send-msg{
  margin-left:43.3%;
  align-items:center;
  padding-bottom:3vh;
  opacity:0.9;
}
#send{
  background-color:#418cd7b3 !important;
  width:23%;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
footer{
  align-items:center;
  height:100%;
}
footer a{
  color:#ffffffc9;
  text-decoration:none;
}
footer a:hover{
  text-decoration:none;
  color:white;
}
.fab{
  font-size:25px;
  margin:0.7%;
}
.footer-items{
  padding-top:1%;
  padding-bottom:1%;
}
.white-link{
font-size: 18px;
margin:0% 0.8%;
}
.white-link:hover{
  text-decoration:none;
  color:white;
}
footer p{
  margin:0.7%;
  color:#cccccca6;
}
footer p:hover{
  cursor:pointer;
}
.contact-section{
  background:url(./public/R23VX4J-music-wallpaper-1920x1080.jpg) no-repeat;
  background-size:cover;
  background-position-y:10%;
}
@media only screen and (max-width: 991px){
  nav{
    opacity:1;
  }
  .navbar-brand{
    font-size:35px;
  }
  .logo{
    transform:scale(1.5);
    margin:11px;
  }
.navbar-nav li{
  margin-bottom:10px;
  margin-top:20px;
  font-size:30px;
  margin-left:auto;
  margin-right:auto;
}
  .contact{
    margin-left:43.8% !important;
  }
  .dropdown{
    margin-left:43% !important;
  }
.send-msg{
  margin-left:43.5%;
}
.form-inline{
  margin-left:24%;
}
  .search{
    font-size:30px;
    margin-bottom:15px;
      }
  .search-btn{
    font-size: 30px;
    transform:translateY(-7px)
  }
.dropdown-menu{
  margin-left:-10%;
  font-size:20px;
}

.navbar-toggler{
  transform:scale(1.2);
  margin-right:10px;
}
header{
  height:100vh;
  clip-path: circle(173vh at 50% -80vh);
}
.cat{
  margin-top:-10%;
}
.container-fluid{
  height:150vh
}
.left h1{
position:absolute;
top:12%;
left:0;
}
.right{
 position:absolute;
 top:120%;
}
.heart{
  margin-left:-9%;
}
}
@keyframes text{
  0%{
      opacity:0;
      margin-bottom:-20px;
  }
  30%{
  letter-spacing:30px;
  margin-bottom:-20px;
  }
  85%{
    letter-spacing:8px;
    margin-bottom:-20px;
  }
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}